[2020-07-25 12:05] garimasingh128 opened #1 "Number plate recognition using opencv"
Get the issue assigned to yourself if you like the idea and I will tell what to do!

[2020-07-25 12:06] garimasingh128 opened #2 "Guess the number"
Guess The Number
Write a programme where the computer randomly generates a number between 0 and 20. The user needs to guess what the number is. If the user guesses wrong, tell them their guess is either too high, or too low. This will get you started with the random library if you haven't already used it.

[2020-07-25 12:06] garimasingh128 opened #3 "Rock paper scissors game"
Rock, Paper, Scissors Game
Make a rock-paper-scissors game where it is the player vs the computer. The computer’s answer will be randomly generated, while the program will ask the user for their input. This project will better your understanding of while loops and if statements.

[2020-07-25 12:07] garimasingh128 opened #4 "Generating a sine vs cosine curve"
Generating a sine vs cosine curve
For this project, you will have a generate a sine vs cosine curve. You will need to use the numpy library to access the sine and cosine functions. You will also need to use the matplotlib library to draw the curve. To make this more difficult, make the graph go from -360° to 360°, with there being a 180° difference between each point on the x-axis.

[2020-07-25 12:08] garimasingh128 opened #5 "Binary search in python"
Binary Search Algorithm
Create a random list of numbers between 0 and 100 with a difference of 2 between each number. Ask the user for a number between 0 and 100 to check whether their number is in the list. The programme should work like this. The programme will half the list of numbers and see whether the users number matches the middle element in the list. If they do not match, the programme wi

[2020-07-25 12:09] garimasingh128 opened #6 "Rolling dice"
Dice Rolling Simulator

The Goal: Like the title suggests, this project involves writing a program that simulates rolling dice. When the program runs, it will randomly choose a number between 1 and 6. (Or whatever other integer you prefer — the number of sides on the die is up to you.) The program will print what that number is. It should then ask you if you’d like to roll again. For this project,

[2020-07-25 12:09] garimasingh128 opened #7 "Adventure game"
The Goal: Remember Adventure? Well, we’re going to build a more basic version of that. A complete text game, the program will let users move through rooms based on user input and get descriptions of each room. To create this, you’ll need to establish the directions in which the user can move, a way to track how far the user has moved (and therefore which room he/she is in), and to print out a desc

[2020-07-25 12:26] mrinal41298 opened #8 "Typing Speed Test"
A python game where you are given a statement and type it in the text field. Calculate datas such as typing speed, accuracy and more if you want to.

[2020-07-25 12:31] mrinal41298 opened #9 "Secure Your Password"
A project where we input a string and it returns a pattern consisting of symbols to secure our password. You can have your own criteria for pattern generation i.e., let's say for 'a' it generates '!!'

[2020-07-26 12:25] anut123 commented on #9
I am going to start my work, please assign to me

[2020-07-26 12:26] anut123 commented on #9
I am going to start my work, please assign to me

[2020-07-26 12:43] pranesh-badarinath commented on #3
I am ready to contribute to this issue.

[2020-07-26 13:32] KIMAYA1907 commented on #7
I want to start working on this please assign my work

[2020-07-26 14:55] Gomathi-P commented on #3
I am ready to work with this issue

[2020-07-26 15:04] garimasingh128 commented on #3
Already assigned to @pranesh-badarinath

[2020-07-26 16:00] Gomathi-P commented on #2
I am ready to work with this issue

[2020-07-26 16:15] garimasingh128 commented on #2
Assigned! All the best

[2020-07-27 12:21] anut123 commented on #8
I am going to start my work, please assign to me

[2020-07-27 12:58] garimasingh128 commented on #8
Create a PR for Issue #9 first. Then ask to be assigned to another!

[2020-07-28 16:27] the-known-anon commented on #1
Hi, the problem statement seems interesting but could you please elaborate it a bit,  so as to what exactly are you expecting to detect? The text written or something?
Thanks!

[2020-07-28 16:55] garimasingh128 commented on #1
Ya it should take the image as an input and produce the image just having the text on the license plate as output. You just need to do it for static images.
For example:
![output](https://user-images.githubusercontent.com/44302373/88696689-2e5a0980-d121-11ea-864e-d7569c38b259.png)

[2020-07-29 07:00] the-known-anon commented on #1
Oh okay,I would like to work on this!

[2020-07-29 07:54] yogi6591 commented on #6
i have created this program

[2020-07-29 10:14] garimasingh128 commented on #6
I believe it was already instructed to start working on an issue when it is assigned to you and you hadn't asked for assignment before. Nevertheless, please keep this in mind. You can now create a PR for the simple code and we'll review it and get back to you!

[2020-07-29 16:31] kushal98 commented on #4
Hey,

I would like to work on this.

Thanks

[2020-07-29 17:11] garimasingh128 commented on #4
Please keep in mind the next time you create a PR, you get the issue assigned to yourself first. Nevertheless, we'll review it.

[2020-07-29 19:17] yogi6591 commented on #6
Ok sure, i'll take care of it for the next time.

[2020-07-30 05:29] kushal98 commented on #4
Sure will take care from next time.

[2020-07-30 07:05] JoshikaNetha commented on #5
I am ready to work on this.

[2020-07-30 21:11] garimasingh128 opened #12 "URL Shortener"
Project Details: Are you familiar with some tools like bit.ly and TinyURL ? These tools shorten the URL and makes them easy to remember. Long URLs are filled with difficult characters and it’s not easy to remember them. These services reduces the characters or letters in URLs and returns a new shorten URL to the user.

[2020-07-30 21:12] garimasingh128 opened #13 "Pin your note"
Pin Your Note
Project Details: We get so many ideas throughout the day and it’s a common nature of human that we forget the things very easily (even the important ideas or thoughts) due to our busy schedule or for some other reason. To remember things easily isn’t it a good idea to make an app that create a note of our ideas online? Using Python you can build a Pin Your Note application where a us

[2020-07-30 21:12] garimasingh128 opened #14 "Quiz App"
Quiz Application
Project Details: Quizzes are always helpful in testing the knowledge, identifying the mistakes and correcting those mistakes. Taking an online test is the best way to understand the concepts completely. Using Python you can create a Quiz application that will list out a series of questions for users and the users will be allowed to answer those questions. Think of the Quiz Applica

[2020-07-30 21:13] garimasingh128 opened #15 "Alarm clock"
Alarm Clock
Project Details: We use the alarm in our day to day life that gives an audio or visual reminder about a certain condition. Using Python you need to build an alarm software that allows users to set time for a certain condition and when the condition is met it should give an audio signal. This tool will work from the user’s laptop or desktop device.

[2020-07-30 21:14] garimasingh128 opened #16 "File renaming tool"
File Renaming Tool
Project Details: A lot of time we need to rename the files in our directory according to certain conventions. For example, File001.jpg, File002.jpg, File003.jpg, and this goes on. Doing this task manually can be repetitive and boring. To avoid this manual work, you can create a tool to rename a large number of files.

[2020-07-30 21:14] garimasingh128 opened #17 "Contact book"
Everyone uses a contact book to save contact details, including name, address, phone number, and even email address. This is a command-line project where you will design a contact book application that users can use to save and find contact details. The application should also allow users to update contact information, delete contacts, and list saved contacts. The SQLite database is the ideal plat

[2020-07-30 21:15] garimasingh128 opened #18 "Notification app"
Have you ever wondered how notifications work? This small python project idea will throw some light on this. The desktop notifier apps run on your system and send you a piece of information after a fixed interval of time. We suggest you use libraries such as notify2, requests, etc. to build such a program.

[2020-07-30 21:16] garimasingh128 opened #19 "Twitter bot"
Want to engage your Twitter followers even when you’re offline working on other projects? You’ll need to sign up as a Twitter developer to do it, but don’t worry, it’s not as difficult as you’d think.

[2020-07-30 21:17] garimasingh128 opened #20 "MP3 Player"
Audio is as important as text today if not more important. Since audio files are digital files, you’ll need a tool that can play them. Without a player, you’ll never be able to listen to the contents of an audio file.

This is where the MP3 Player comes in. The MP3 Player is a device for playing MP3s and other digital audio files. This MP3 Player GUI project idea attempts to emulate the physical M

[2020-07-30 21:17] garimasingh128 opened #21 "Alarm tool in python"
The main objective of this project is to activate audio signals at certain times of the day. So, timing and the audio signal to be played are the most important parts of the Alarm Tool.

The Alarm Tool should allow users to create, edit, and delete alarms. It should also have an interface that lists all the alarms, provided they have not being deleted by the user. So, it should list the active and

[2020-08-01 05:16] kushal98 commented on #12
Hey,

Do we need a script for this or some full stack solution?

Thanks

[2020-08-01 05:35] garimasingh128 commented on #12
Depends on the level of the participant to which it is assigned! If you can create a web interface or a GUI using tkinter, it would be great. A script would also work okay.

[2020-08-01 06:11] kushal98 commented on #12
I would like to give a try to script first and later looking into an interfaceapp.
Can u assign this to me?

[2020-08-04 20:06] anut123 commented on #2
I am going to start my work, please assign to me

[2020-08-04 20:09] garimasingh128 commented on #2
Already assigned to @Gomathi-P

[2020-08-04 20:43] garimasingh128 commented on #1
@the-known-anon  progress?

[2020-08-04 20:44] garimasingh128 commented on #7
@KIMAYA1907 progress?

[2020-08-04 20:44] garimasingh128 commented on #5
@JoshikaNetha progress?

[2020-08-04 20:45] garimasingh128 commented on #2
@Gomathi-P progress?

[2020-08-05 04:00] Gomathi-P commented on #2
I have completed it @garimasingh128

[2020-08-05 04:31] garimasingh128 commented on #2
Did you make a PR? Please follow the changes that I suggested in Discord.

[2020-08-05 06:21] JoshikaNetha commented on #5
On progress maam I have some doubt where  can I interact with you?

On Wed, 5 Aug, 2020, 2:14 AM Garima Singh, <notifications@github.com> wrote:

[2020-08-05 06:31] garimasingh128 commented on #5
Discord channel. In the group itself!

[2020-08-05 06:41] anut123 commented on #8
I am going to start my work, please assign to me

[2020-08-05 14:16] Gomathi-P commented on #2
I didn't prepare the PR could you tell me how to prepare it mam @garimasingh128

[2020-08-05 14:27] garimasingh128 commented on #2
Go through this link https://harshkapadia2.github.io/git_basics/
In simple terms follow these steps:
1. Fork the repo
2. Clone it in your laptop
3. Add your code and screenshots
4. While adding code , follow the steps I mentioned in discord
5. git add .
6. git commit -m "commit_message"
7. git push origin master
8. Go on github on your forked repo, you will see compare and pull request option. Cli

[2020-08-05 14:30] Gomathi-P commented on #2
Thank you mam I will try it👍

[2020-08-05 16:15] the-known-anon commented on #1
Hi,
The skeleton code is working!
Now I just need to add a lot of comments.

[2020-08-06 11:01] Gomathi-P commented on #2
Mam I have created my PR but how to upload in your PR

[2020-08-06 13:30] garimasingh128 commented on #2
Did you follow the steps? I can't see your PR in my repo.

[2020-08-06 13:34] Gomathi-P commented on #2
Yes mam but I am unable to give you the PR

[2020-08-06 17:07] garimasingh128 commented on #2
Check out these videos:
https://www.youtube.com/watch?v=G1I3HF4YWEw
https://www.youtube.com/watch?v=yr6IzOGoMsQ

[2020-08-07 06:17] Gomathi-P commented on #2
Ok mam I will try it

[2020-08-08 10:24] Gomathi-P commented on #2
Mam I have created the PR

[2020-08-10 17:11] pranesh-badarinath commented on #14
I am ready to contribute to this issue.

[2020-08-10 17:21] pranesh-badarinath commented on #14
Can I proceed like this..
1. The questions will be displayed on the console.
2. user need to answer to that question ( multiple choice question)
3. Finally after completion of the quiz result will gona display..

[2020-08-10 17:32] garimasingh128 commented on #14
Yeah. After the quiz ends, display his/her score along with the correct answers just like how Google forms does in the quiz section. You can take sample questions by yourself. If you want, Create a simple GUI using tkinter. It's quite easy and looks simple.

[2020-08-10 17:37] pranesh-badarinath commented on #14
Sure, I ll try my best...
Thank you

On Mon, 10 Aug, 2020, 11:02 PM Garima Singh, <notifications@github.com>
wrote:

[2020-08-11 17:50] the-known-anon commented on #1
Hello ma'am,
I have  made the commit.Please do look into it.
And do I have to edit the ReadMe file as well?
Regards.

[2020-08-11 18:00] garimasingh128 commented on #1
Please send a link to your PR in comment. In the README just add a few resources of the tools or the commands you have used as it is presently for other projects in the same mnner.

[2020-08-11 18:11] the-known-anon commented on #1
https://github.com/the-known-anon/awesome-python-projects/pull/1#issue-466254664
Ma'am this is the link.

[2020-08-11 18:25] garimasingh128 commented on #1
you have added the resources in the readme but forgot to push ur code. make sure to follow the steps i mentioned in discord.

[2020-08-12 05:20] the-known-anon commented on #1
https://github.com/garimasingh128/awesome-python-projects/pull/33#issue-466515216
Sorry Ma'am for the inconvenience.This is the link for the new pull request.

[2020-08-12 06:15] the-known-anon commented on #1
https://github.com/garimasingh128/awesome-python-projects/pull/34
Here is the link to the final pull request ma'am.
I am really sorry for inconvenience caused.

[2020-08-13 08:24] Saicharan67 commented on #15
I am interested to work on this issue can u assign me to this?

[2020-08-16 16:20] anut123 commented on #17
I am going to start my work, please assign to me

[2020-08-16 16:24] garimasingh128 commented on #17
@anut123  Hope any other issue is not assigned to you as of now for which you have not created a PR. If yes, unassign from any one.

[2020-08-19 15:44] anut123 commented on #17
we have to do with Sqlite database so should we have to install any software for Sqlite database or in Pycharm we can do it?

[2020-08-19 15:47] garimasingh128 commented on #17
I believe that you have to install the sqlite software to connect to database.

[2020-08-19 15:50] anut123 commented on #17
okay ma'am.

[2020-08-22 23:01] siddeshshewde opened #39 "Simple Calculator"
Simple Calculator should be able to perform the below actions:
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulus

Advanced Functions:
1. Factorial
2. Power
3. Root
4. log10
5. Trignometric functions like sin cos tan

[2020-08-25 18:24] pranesh-badarinath commented on #39
am ready to contribute in this issue

[2020-08-26 17:19] siddeshshewde commented on #3
@garimasingh128 I want to try this. Is @pranesh-badarinath still working on it?

[2020-08-26 17:22] siddeshshewde commented on #9
Is anyone still working on this?

[2020-08-26 17:32] garimasingh128 commented on #9
@anut123 did u create a PR for this?

[2020-08-26 17:32] garimasingh128 commented on #3
@pranesh-badarinath did u create a PR for this?

[2020-08-26 17:38] anut123 commented on #9
Secure your password issue is been completed and merged also.

On Wed, Aug 26, 2020, 11:02 PM Garima Singh <notifications@github.com>
wrote:

[2020-08-26 17:40] garimasingh128 commented on #9
Cool. Please mention the issue in the PR description otherwise solved issues remain open. :)

[2020-08-26 17:40] #9 closed

[2020-08-26 17:42] anut123 commented on #9
Okay ma'am

On Wed, Aug 26, 2020, 11:11 PM Garima Singh <notifications@github.com>
wrote:

[2020-08-26 18:20] pranesh-badarinath commented on #3
@garimasingh128  I have completed this issue long back , This issue is already merged to your main repo

[2020-08-26 18:23] garimasingh128 commented on #3
Cool. Please mention the issue no in the PR description otherwise solved issues remain open even if the PR is merged. :)

[2020-08-26 18:23] #3 closed

[2020-08-26 18:24] pranesh-badarinath commented on #3
sure

[2020-08-26 18:27] pranesh-badarinath commented on #14
@garimasingh128
This issue also successfully merged into the main repo.
Thank you

[2020-08-26 18:29] #14 closed

[2020-08-27 13:22] anut123 commented on #9
what should i mention in the PR description?

[2020-08-27 13:49] anut123 commented on #9
completed issue in the PR description.

[2020-08-27 13:53] anut123 commented on #9
Mentioned the issue in the PR description also.

[2020-08-27 13:55] anut123 commented on #9
just now mention the issue in the PR description.

[2020-08-27 13:56] anut123 commented on #8
Typing Speed Test issue is been completed , merged , issue is also mentioned in the PR description but how to closed these issue?

[2020-08-27 14:38] garimasingh128 commented on #8
Mention in the PR description like Fixes #8

[2020-08-27 14:57] anut123 commented on #8
i didn't get

[2020-08-27 15:19] anut123 commented on #8
I didnot get it can you explain it once again

[2020-08-27 18:21] #39 closed

[2020-08-28 15:20] anut123 commented on #8
I did not get it can you please explain it once again.

[2020-08-28 15:22] garimasingh128 commented on #8
In the PR description, you have left it blank. You can mention like it fixes issue #8 for example. Or if you know that your PR is merged then you can close the issue yourself or comment on the issue that this has been resolved by PR #4 for example.

[2020-08-28 15:24] anut123 commented on #8
PR is merged then where is the option of close the issue

[2020-08-28 15:27] garimasingh128 commented on #8
You would only get the option of close issue if you have created that issue. Otherwise, just comment and I'll close it myself.

[2020-08-28 15:27] #8 closed

[2020-08-29 07:24] #17 closed

[2020-08-29 07:28] anut123 commented on #2
issue is completed or still in progess?

[2020-08-29 07:30] garimasingh128 commented on #2
@Gomathi-P

[2020-08-29 07:32] anut123 commented on #2
should i take these issue and complete?

[2020-08-29 07:37] Gomathi-P commented on #2
Mam i have completed only the changes you have mentioned need to be done @garimasingh128

[2020-08-29 07:42] anut123 commented on #18
I am going to start my work, please assign to me

[2020-08-29 07:45] anut123 commented on #18
I am going to start my work, please assign to me

[2020-08-29 08:03] garimasingh128 commented on #18
All the best. :)

[2020-08-29 08:22] anut123 commented on #18
Thankyou ma'am

On Sat, Aug 29, 2020, 1:33 PM Garima Singh <notifications@github.com> wrote:

[2020-09-01 15:19] pranesh-badarinath commented on #5
I am ready to solve this issue...if possible assign this issue
thank you

[2020-09-01 15:27] garimasingh128 commented on #5
@JoshikaNetha You have any progress or should I unassign you?

[2020-09-01 15:28] garimasingh128 commented on #5
Also, if you take up an issue and don't report within a week, then you will lose points as you are basically curbing others from taking up that issue.

[2020-09-01 15:34] pranesh-badarinath commented on #5
@garimasingh128  sure (:

[2020-09-02 03:51] JoshikaNetha commented on #5
Maam I'm just a beginner for python. I can solve the problem  I am getting
that GitHub I'm not much  familiar with github.

On Tue, 1 Sep, 2020, 9:04 PM pranesh-badarinath, <notifications@github.com>
wrote:

[2020-09-02 05:31] garimasingh128 commented on #5
What issues are you facing with GitHub? Can you send a screenshot or any query that you may have?

[2020-09-02 07:55] JoshikaNetha commented on #5
I don't pr and how to raise pr . I just know  binary tree process I can
write in code too.

On Wed, 2 Sep, 2020, 11:02 AM Garima Singh, <notifications@github.com>
wrote:

[2020-09-02 08:02] garimasingh128 commented on #5
You can check out these videos:
https://www.youtube.com/watch?v=G1I3HF4YWEw
https://developers.redhat.com/articles/command-line-heroes-game-pull-request

One simple thing I would suggest is:
- Fork the main repo
- Clone it from your forked repo
- Just add your code there
- Do git add .
- Do git commit -m "messsage"
- Go to your forked repo on github and click on Submit a PR

Let me know once you d

[2020-09-02 08:11] JoshikaNetha commented on #5
ok

On Wed, Sep 2, 2020 at 1:32 PM Garima Singh <notifications@github.com>
wrote:

[2020-09-05 06:49] JoshikaNetha commented on #5
Maam, I have done with videos done with coding part and  I have downloaded
nodejs also.

On Wed, 2 Sep, 2020, 1:41 PM Joshika Netha Namani, <
joshikanethanamani24@gmail.com> wrote:

[2020-09-05 09:19] garimasingh128 commented on #5
@JoshikaNetha So you can now create a PR for this issue?

[2020-09-05 14:30] JoshikaNetha commented on #5
I have forked the awesome-python-projects. But while cloning it showing
permission denied.

On Sat, Sep 5, 2020 at 2:50 PM Garima Singh <notifications@github.com>
wrote:

[2020-09-05 14:37] garimasingh128 commented on #5
You should use your own forked repo's URL while cloning it and then work on it.

[2020-09-05 14:44] JoshikaNetha commented on #5
From my repository only I'm taking url of awesome python projects . Still
it's showing like could not create work tree for 'awesome python projects '
permission denied.

On Sat, 5 Sep, 2020, 8:08 PM Garima Singh, <notifications@github.com> wrote:

[2020-09-05 14:49] garimasingh128 commented on #5
You may get this error if your folder contains previous files. So before git clone command try to remove all the files from that folder. You can use the below-given command.

$ rm -rf *
$ git clone URL

Or you can try [this](https://stackoverflow.com/questions/16376035/fatal-could-not-create-work-tree-dir-kivy/16384466#:~:text=Open%20the%20file%20location%2C%20right,select%20"Run%20as%20Administra

[2020-09-05 14:50] JoshikaNetha commented on #5
To clone do i need to use new folder>

On Sat, Sep 5, 2020 at 8:19 PM Garima Singh <notifications@github.com>
wrote:

[2020-09-05 14:53] JoshikaNetha commented on #5
$ git clone git@github.com:JoshikaNetha/awesome-python-projects.git
Cloning into 'awesome-python-projects'...
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists
Its showing like this

On Sat, Sep 5, 2020 at 8:20 PM Joshika Netha Namani <
joshikanethanamani24@gmail.com> wrote:

[2020-09-05 14:55] garimasingh128 commented on #5
Run this:
[code]

[2020-09-05 15:02] JoshikaNetha commented on #5
Done

On Sat, Sep 5, 2020 at 8:25 PM Garima Singh <notifications@github.com> wrote:

[2020-09-05 15:17] JoshikaNetha commented on #5
Maam, I have to create any folder in awesome-python-projects which is
present in my local system.

On Sat, Sep 5, 2020 at 8:32 PM Joshika Netha Namani
<joshikanethanamani24@gmail.com> wrote:

[2020-09-05 15:21] garimasingh128 commented on #5
Follow the instructions. See how other projects are created. Name your folder and add the code and screenshots in it. Then add resources to readme just like how other projects have added theirs. Do this and tell me I'll guide u on how to add a PR to my repo.

[2020-09-05 15:43] JoshikaNetha commented on #5
Maam, I have to create an empty repository and there I have to create a
readme file?

On Sat, Sep 5, 2020 at 8:52 PM Garima Singh <notifications@github.com>
wrote:

[2020-09-05 19:56] garimasingh128 commented on #5
You have to create a folder inside the cloned repo by the name BINARY_SEARCH and add your code and screenshots of output inside it. Then, you have to change the README that is already present in the repo. You don't need to create one yourself. Just add the resources in the existing README.

[2020-09-06 05:46] JoshikaNetha commented on #5
Maam,I have added resources in my local system. What is the next process
maam.

On Sun, Sep 6, 2020 at 1:26 AM Garima Singh <notifications@github.com>
wrote:

[2020-09-06 06:02] garimasingh128 commented on #5
- Go to your project folder and inside it open Git terminal
- Type the following cmds
[code]
- Push your changes by:
[code]
- Now go to your forked repo's URL: https://github.com/JoshikaNetha/awesome-python-projects.git
- Here you will see create pull request option
- Click on it and fill up the description and pull request title
- Double-check by going [here](https://github.com/garimasingh128/awe

[2020-09-06 06:26] JoshikaNetha commented on #5
In add command it's asking for path address. I have to add only my folder
or else whole folder.

On Sun, 6 Sep, 2020, 11:33 AM Garima Singh, <notifications@github.com>
wrote:

[2020-09-07 09:07] #18 closed

[2020-09-07 09:09] anut123 commented on #18
Okay ma'am

On Mon, Sep 7, 2020, 2:37 PM Garima Singh <notifications@github.com> wrote:

[2020-09-08 10:23] anut123 commented on #13
I am going to start my work, please assign to me

[2020-09-15 13:29] #13 closed

[2020-09-15 13:31] garimasingh128 opened #44 "Build a Virtual Assistant"
In this project, you will build your own virtual assistant using the Python Programming Language! A virtual assistant is an application that can understand voice commands and complete tasks for a user. Google’s assistant and Amazon’s Alexa are good examples of virtual assistants.
If you need any help with the project, you can check out the Learn Python: Build a Virtual Assistant, a free Python cou

[2020-09-15 13:31] garimasingh128 opened #45 "A Real-Time Price Alert App"
In this project, you need to build a Real-time price alert app that will notify you when cryptocurrencies hit certain prices in USD. You can keep this program running in the background. Your computer will shout things like, ‘Bitcoin hit $12000!’.
If you need help, check Python & Cryptocurrency: Build 5 Real World Applications, a free Python course on Udemy.

[2020-09-15 13:33] garimasingh128 opened #46 "Stock price predictor"
Stock price predictor is a machine learning system that learns about the current performance of a company and based on this, predicts future stock prices. To begin working with stock market data, you can predict and make a simple machine learning problem like predicting 6-month price movements based on fundamental indicators or build time series models, or even recurrent neural networks, on the de

[2020-09-15 13:33] garimasingh128 opened #47 "Music Recommendation System"
Music Recommendation System
This is yet another and one of the most popular machine learning projects and can be used across different spheres. You might be very familiar with a music recommendation system if you’ve used apps like JioSaavn or Spotify.  The system recommends some songs based on the songs you’ve liked or listened to. How does the system do this? This is a typical example where Machi

[2020-09-15 13:34] garimasingh128 opened #48 "Sentiment analyser ML project"
A sentiment analyzer learns about various sentiments behind a content through machine learning and predicts the same using AI. By creating an ML system that would analyze the sentiment behind texts, or a post, it might become so a lot easier for organizations to know and understand their consumer behavior better. Twitter data is taken into account as an ultimate entry point for beginners to practi

[2020-09-15 13:34] garimasingh128 opened #49 "Iris Flowers Classification Projectiris flower classification using machine learning"
Iris Flowers Classification Projectiris flower classification using machine learning
Project idea – The iris flowers have different species and you can distinguish them based on the length of petals and sepals. This is a basic project for machine learning beginners to predict the species of a new iris flower.

https://archive.ics.uci.edu/ml/datasets/Iris

[2020-09-15 13:35] garimasingh128 opened #50 "emojify ml project"
Project idea – The objective of this machine learning project is to classify human facial expressions and map them to emojis. We will build a convolution neural network to recognize facial emotions. Then we will map those emotions with the corresponding emojis or avatars

[2020-09-15 13:36] garimasingh128 opened #51 "Loan Prediction using Machine Learning"
Loan Prediction using Machine Learning
Project idea – The idea behind this ML project is to build a model that will classify how much loan the user can take. It is based on the user’s marital status, education, number of dependents, and employments. We can build a linear model for this project.

https://www.kaggle.com/altruistdelhite04/loan-prediction-problem-dataset

[2020-09-15 13:36] garimasingh128 opened #52 "Housing Prices Prediction Project"
Project idea – The dataset has house prices of the Boston residual areas. The expense of the house varies according to various factors like crime rate, number of rooms, etc. It is a good ML project for beginners to predict prices on the basis of new data.

Dataset: Housing Price Prediction Dataset:https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html

[2020-09-15 13:37] garimasingh128 opened #53 "Titanic Survival Project"
Titanic Survival Project
Project idea – This will be a fun project to build as we will be predicting whether someone would have survived if they were in the titanic ship or not. For this beginner’s project, we will use the Titanic dataset that contains real data of the survivors and people who died in the Titanic ship.

https://www.kaggle.com/c/titanic

[2020-09-15 13:37] garimasingh128 opened #54 "Credit Card Fraud Detection Project"
Credit Card Fraud Detection Project
Project idea – Companies that involve a lot of transactions with the use of cards need to find anomalies in the system. The project aims to build a fraud detection model on credit cards. We will use the transaction and their labels as fraud or non-fraud to detect if new transactions made from the customer are fraud or not.

https://data-flair.training/blogs/data

[2020-09-15 13:44] anut123 commented on #48
I am going to start my work, please assign to me

[2020-09-25 14:28] Diu2912 commented on #44
Can i do this project?

[2020-09-25 15:04] Diu2912 commented on #53
I want to start working on this please assign  to me...

[2020-09-25 15:06] Diu2912 commented on #49
I want to start working on this please assign to me...

[2020-09-25 15:06] garimasingh128 commented on #44
Go ahead @Diu2912

[2020-10-01 02:23] ksdkamesh99 commented on #54
I want to work on this project

[2020-10-01 02:23] ksdkamesh99 commented on #54
Could you assign it to me

[2020-10-01 05:47] ksdkamesh99 commented on #54
This dataset you mentioned doesn't contain the prediction class @garimasingh128 please look into it and can you provide me the dataset

[2020-10-01 06:04] ksdkamesh99 commented on #52
I will do this project please do assign me @garimasingh128

[2020-10-01 10:36] ViAsmit commented on #16
I would like to work on the project.
Will You Please assigned this to me?
@garimasingh128 @mrinal41298

[2020-10-01 11:04] Albert-Jokelin commented on #20
I'm Interested!

[2020-10-01 12:59] pranesh-badarinath commented on #45
I am ready to work on this issue

[2020-10-02 07:40] ansh-lehri commented on #51
I would like to do this. Please assign this to me.

[2020-10-02 13:04] Albert-Jokelin commented on #20
Hey! I just made an Mp3 player with GUI using Tkinter. Can you please review it?

[2020-10-02 13:09] samriddhiambashta commented on #15
Ma'am can I work on this?

[2020-10-02 16:51] ksdkamesh99 commented on #54
Dataset I used is https://www.kaggle.com/mlg-ulb/creditcardfraud

[2020-10-04 07:38] #4 closed

[2020-10-04 07:38] #12 closed

[2020-10-15 07:27] ksdkamesh99 commented on #51
I want to work on this please assign me @garimasingh128 @mrinal41298

[2020-10-16 06:26] ksdkamesh99 commented on #51
In this project, we need to classify the loan status Y or N.

[2020-10-17 19:17] #49 closed

[2020-10-28 18:18] #16 closed

[2020-11-23 08:50] Rishabrp99 commented on #2
Can you please assign to me?? I have the code ready in python.

[2020-12-04 07:03] Gaurav7888 commented on #52
I had already  solved this problem and will try to solve this problem too.
Moreover can make its visual version to non tech ppl. Plz assign it to me.

[2020-12-04 15:15] Gaurav7888 opened #81 "Sketch making app"
**Describe your project clearly.**
My project will convert images into sketch .

**Describe alternatives you've considered**
I will use python and python based libraries to solve this problem
there are ways to tune the parameters used i used statistics to tune these parameters but keras has some automatics method to do this same work.
![final](https://user-images.githubusercontent.com/60139335/101

[2020-12-04 17:18] #81 closed

[2020-12-04 17:19] Gaurav7888 opened #82 "Sketch Making Project"
**Describe your project clearly.**
My project will convert images into sketch .

**Describe alternatives you've considered**
I will use python and python based libraries to solve this problem
there are ways to tune the parameters used i used statistics to tune these parameters but keras has some automatics method to do this same work.
![final](https://user-images.githubusercontent.com/60139335/101

[2020-12-05 01:49] Gaurav7888 commented on #82
@garimasingh128  can i   start working on this issue.

[2020-12-06 09:33] anushka645 commented on #53
Is this issue open for contribution? As i see it is already assigned to someone.

[2020-12-06 10:28] anushka645 commented on #50
Hi @garimasingh128 i would like to work on this project. Can you plz assign it to me ?

[2020-12-06 13:54] garimasingh128 commented on #53
Yup. u can take it. Assigning you.

[2020-12-07 08:23] subhangi2731 commented on #19
can you assign me this

[2020-12-07 10:34] anushka645 commented on #53
Hi Garima, can you suggest how can i contribute to this project as i see that the basic task to predict survival is already done using different modeld.Plz guide.

[2020-12-07 17:24] das-kingdom opened #84 "ROCK_PAPER_SCISSOR"
There is a small issue in the first lines of the code
https://github.com/garimasingh128/awesome-python-projects/blob/master/ROCK_PAPER_SCISSOR/GAME.PY

**Reproduce**
Run the program.
It will say "Enter 1 to play 0 to exit"
Here we can actually enter anything other than 0 to play

**Expected behavior**
It should return error if we enter anything other than 1 or 0

[2020-12-07 20:31] anubhab-code commented on #84
I can fix this, can I be assigned to this?

[2020-12-08 03:21] Tanvie commented on #2
@garimasingh128 I want to work on this issue. Please assign it to me

[2020-12-08 05:02] das-kingdom opened #86 "Word Games"
**Describe your project clearly.**
1. Fibanocci Increment Mixed String
Increment mixed string is an operation which operates on two strings S1 and S2 of same length to generate a new string S3. The letters in odd position of S3 is one more than the corressponding letter in S1 and the letters in even position of S3 is one more than the corressponding letter in S2. For example, if S1 = ‘amey’ and S2

[2020-12-08 08:49] #84 closed

[2020-12-08 13:25] Dhruv-VINT commented on #53
Can I also work on this project ? I would like to contribute to this project.

[2020-12-08 16:35] keerthanataltaje commented on #15
I am interested to work on this issue.Can I work on it?

[2020-12-09 09:21] ayushsurana710 commented on #46
Can you please assign this issue to me?

[2020-12-09 20:20] garimasingh128 commented on #53
There can be two different techniques to predict the same thing or both model can have diff accuracy. Don't look into the already existing projects and start working on ur own.

[2020-12-09 20:41] ayushsurana710 commented on #46
Hello Garima ,
Do I have to show stock price prediction for a particular stock or does the
project expect something else from my side. I request to clarify this.

Thanks and Regards,
Ayush Surana
ᐧ

On Thu, Dec 10, 2020 at 1:48 AM Garima Singh <notifications@github.com>
wrote:

[2020-12-10 04:53] garimasingh128 commented on #46
Yes. I think of a single stock from a single company as a start. Then you can extend its functionalities as you wish to.

[2020-12-10 05:43] ayushsurana710 commented on #46
Thank you!
ᐧ

On Thu, Dec 10, 2020 at 10:23 AM Garima Singh <notifications@github.com>
wrote:

[2020-12-10 06:32] das-kingdom commented on #86
@garimasingh128  plz reply

[2020-12-10 19:29] charchit95 opened #88 "Hangman Game Project"
Hangman game is just a word guessing game by guess the character of the word. In this game, there is a list of words present, out of which our interpreter will choose 1 random word.

@garimasingh128 I would like to contribute to it.

[2020-12-11 08:27] hr1shu opened #90 "new and modified version"
**Describe your project clearly.**
Shorty is a URL shortening service built using Django. This service includes user authentication as well as shortening service. The app also keeps tracks of URLs that you have already shortened and it can show you how many times that site has been visited using that link. In addition to shortening URLs, it will also auto-generate QR codes for the shortened links.

[2020-12-11 08:33] hr1shu opened #91 "Encoder-decoder"
**Describe your project clearly.**
It's a cryptography project based on encryption and decryption of the message.
Created using tkinter

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add a

[2020-12-11 16:02] Rishabrp99 commented on #21
hey @garimasingh128  would love to work on this project, can you please assign it to me ??

[2020-12-12 05:51] Poobalan1210 commented on #19
I like to work on this issue

[2020-12-14 08:04] samriddhiambashta commented on #15
I sent a pull request. Can you check it out?

[2020-12-14 21:08] garimasingh128 commented on #86
I would prefer option b. Sorry for the late reply. Assigning you!

[2020-12-15 06:13] ayushsurana710 commented on #54
I want to work on this . Please assign this to me

[2020-12-15 06:14] ksdkamesh99 commented on #54
It is completed just need to add documentation @ayushsurana710

[2020-12-15 09:26] garimasingh128 commented on #54
You can work on it @ayushsurana710 as there can be two approaches of solving the same problem. All the best!

[2020-12-15 13:13] ayushsurana710 commented on #54
Thank you !!
ᐧ

On Tue, Dec 15, 2020 at 2:56 PM Garima Singh <notifications@github.com>
wrote:

[2020-12-15 16:41] akrish4 opened #97 "Guess Number in python"
**Describe your project clearly.**
I would like to add my python project ie a guess number project , its a small project where a user can assume a number and computer tries to guess it and user needs to give suggestions like too low or high or it is correct and vice versa also.

**Describe the solution you'd like**
 Its a small project where a user can assume a number and computer tries to guess i

[2020-12-15 21:47] Dhruv-VINT commented on #1
I would like to give a try on this project, can you assign me on this ?

[2020-12-16 18:07] archana-1209 commented on #44
is this issue closed as I want to work on this?

[2020-12-16 18:17] garimasingh128 commented on #44
go ahead

[2020-12-17 18:31] archana-1209 opened #100 "Search and Edit"
**Describe your project clearly.**
When you type something into the search bar , the Search and Edit app will pull up information about it from Wikipedia . By enabling the Editor function, you can use it as a text editor and can disable the editor function just as easily . The Graphical User Interface has been designed using tkinter and the mini project is based on Python .

[2020-12-18 00:41] archana-1209 commented on #100
![The Searching and Editing App 18-12-2020 06_08_33](https://user-images.githubusercontent.com/45273418/102560270-d768c700-40f7-11eb-86b0-d9497658a4e0.png)

[2020-12-18 00:43] archana-1209 commented on #100
Can I create a PR for this project?

[2020-12-18 19:44] ayushsurana710 commented on #48
Can you also assign this issue to me as I am reading about it , so it would be great

[2020-12-19 05:36] #19 closed

[2020-12-27 07:23] ksdkamesh99 commented on #46
I am interested to work on this project @garimasingh128 Please Assign this to me

[2020-12-27 12:11] ksdkamesh99 commented on #46
Thanks @garimasingh128  for assigning me

[2021-01-05 14:50] CarlosAndresArangoJuliao commented on #44
Me interesa este proyecto, estoy estudiando python y me llama la atención este proyecto, puedo participar

[2021-01-05 14:54] garimasingh128 commented on #44
Hey @CarlosAndresArangoJuliao! Apologies for not understanding the language but can you respond in English preferably?

[2021-01-08 04:53] #88 closed

[2021-01-08 08:40] Vinamrata1086 opened #112 "File not opening"
**Describe the bug**
The IRIS_FLOWER_DETECTION.ipynb file is not opening.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/garimasingh128/awesome-python-projects/tree/master/IRIS_FLOWER_DETECTION'
2. Click on 'https://github.com/garimasingh128/awesome-python-projects/blob/master/IRIS_FLOWER_DETECTION/IRIS_FLOWER_DETECTION.ipynb'

**Screenshots**
![Screenshot 2021-01-

[2021-01-11 15:21] saadhaxxan commented on #112
Large Jupyter files often do not load in Github you need to download it and then run it. The problem is inside GitHub CDN everything else is fine while running it.

[2021-01-22 12:51] CPineda408 opened #114 "In awe"
Your GITHUB profile is so informative. Beautifully done 👍🏽

[2021-03-22 19:06] sharmas1ddharth commented on #2
This issue is still open, If it's not completed then please assign it to me

[2021-05-24 15:44] wigzen opened #124 "Plagiarism Checker"
**I Coded  Plagiarism Checker wanted add my program here**